@import '../node_modules/angular-material/angular-material.css';
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.bold {
  font-weight: bold;
}
.header-title {
  text-align: center;
  font-weight: lighter;
}
.angular-google-map-container, .angular-google-map {
  height: 300px;
  width: 600px;
  float: right;
  margin:0 15px;
}

.pharmacies {
  float: left;
  width: 40%;
}
.marker-labels{
  font-weight: bold;
}
.search-container{
  text-align: center;
  margin:30px auto;
}
.search-container input {
  font-size: 34px;
}
.search-button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.search-text {
  width: 20%;
}
.search-button:hover {
    background-color: #4CAF50;
    color: white;
}
.pharm-title {
  font-size: 20px;
  font-weight: lighter;;
  margin-top: 10px;
  margin-bottom: 5px;
}
li {
  list-style: none;
}
.info-title {
  font-weight: bold;
  width: 20%;
  display: inline-block;
}
.info-text {
  width: 75%;
  text-align: left;
}
input {
  border: none;
  text-align: left;
}
input:focus {outline:none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
